.layout___3IWBe {
  width: 100%;
  min-height: 100vh;
}
.layout___3IWBe .nav___1AMQz {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  font-size: 1.2rem;
  font-weight: 300;
}
.layout___3IWBe .nav___1AMQz > div:first-child {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 3px;
}
.layout___3IWBe .main___37e4t {
  margin: auto;
  width: 40%;
  min-height: 70vh;
}
@media (max-width: 992px) {
  .layout___3IWBe .main___37e4t {
    width: 90% !important;
  }
}
.layout___3IWBe .footer___35EnJ {
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
  color: #888;
}
.layout-light___1XHhK {
  border: 18px solid #00adb5;
}
.layout-dark___1lLsT {
  border: 18px solid #DEEAF3;
}
.layout-dark___1lLsT,
.layout-dark___1lLsT a {
  background-color: #00adb5 !important;
  color: #fff !important;
}

