.layout___3KKqz {
  margin: 0;
  font-size: 4rem;
  line-height: 1.2;
}
.layout___3KKqz .text___1ZXl1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  font-weight: 300;
}
.layout___3KKqz .block___1pExI {
  position: fixed;
  width: 50vw;
  height: 50px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #DEEAF3;
}

.layout___cQUQi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layout___xlObq {
  letter-spacing: 5px;
  text-align: center;
  padding: 18px;
}
.layout___xlObq .focus___2xir3 {
  color: #00adb5;
  font-weight: bold;
}

.blog-item___2ZW-k {
  margin-bottom: 24px;
}
.blog-item___2ZW-k a:link,
.blog-item___2ZW-k a:visited {
  color: #222831;
}
.blog-item___2ZW-k a:hover,
.blog-item___2ZW-k a:active {
  color: #00adb5;
}

.label___NLreX {
  display: inline-block;
  margin-right: 20px;
}
.markdown___1zFJf a {
  transition: all 0.2s;
}
.markdown___1zFJf a:link,
.markdown___1zFJf a:visited,
.markdown___1zFJf a:hover,
.markdown___1zFJf a:active {
  text-decoration: none;
}
.markdown___1zFJf a:link,
.markdown___1zFJf a:visited {
  color: #00adb5;
}
.markdown___1zFJf a:hover,
.markdown___1zFJf a:active {
  color: #222831;
}
.markdown___1zFJf blockquote {
  border-left: 4px solid #00adb5;
  margin: 0;
  padding-left: 15px;
}
.markdown___1zFJf p img,
.markdown___1zFJf ul img {
  width: 100%;
}
.markdown___1zFJf p code,
.markdown___1zFJf ul code {
  border-radius: 5px;
  padding: 0px 6px;
  margin: 0px 3px;
  background-color: rgba(0, 0, 0, 0.1);
}
.markdown___1zFJf pre {
  background-color: rgba(0, 0, 0, 0.1);
  border-left: 5px solid #00adb5;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 12px 24px;
  overflow: auto;
}

